
.container1 {
 
 
  background-color:#d574b4;
  padding: 3em 3em;
   border-radius: 0.8em;

  
}



.dateText{
  color: #365dd4;


}

.lableTilte{
    margin-right: 10px;
    margin-top: 15px;
    color: #365dd4;
    font-weight: 600;
    
    
    
 
}

.date-wrapper{
  display: flex;
  flex-flow: row;

}


input[type="date"] {
  margin-right: 10px;
  font-size: 16px;
  padding: 1em;
  color: #d063ab;
  background:#efcbe3;
  border: none;
  border-radius: 0.8em;
  margin-bottom: 10px;
 
}






::-webkit-calendar-picker-indicator {
  background-color:#d574b4;
  padding: 0.2em;
  cursor: pointer;
  border-radius: 0.1em;
}
.submitBtn {
  border-radius: 0.8em;
  display: block;
  color: #2b4aa9;
  background:#e1bee7;
  background: -webkit-linear-gradient(to right, #c1cdf1,#c1cdf1,#e7b1d5,#e7b1d5);
  background: linear-gradient(to right, #c1cdf1,#c1cdf1,#e7b1d5,#e7b1d5);

  border: none;
  padding: 1rem;
  
  font-weight: 600;
  margin-bottom: 10px;
}

#output {
  background-color: rgba(255, 255, 255, 0.15);
  text-align: center;
  padding: 1em;
  color: #2b4aa9;
  font-size: 1.2em;
  letter-spacing: 0.05em;
  border-radius: 0.8em;
}

@media screen and (max-width: 550px) {
  .container {
    
  }
  .inp-wrapper {
  
  }
 
}


#output span {
  color: #cf3ae9;
  font-size: 1.4em;
  font-weight: 600;
}

